<%= require('html-loader!./includes/header.html') %>

    <!-- Page header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="my-4">
                        Latest posts
                        <small>March 2018</small>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-12">

                        <!-- Blog Post -->
                        <article id="post-1">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-1_image_20180310_1.0.jpg') %>" alt="Card image cap">

                                
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-2">
                            <div class="card mb-4">
                                <img class="card-img-top" src="">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-3">
                            <div class="card mb-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MnrJzXM7a6o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                          </div>
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-4">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-4_image_20180310_1.0.jpg') %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-5">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-5_image_20180310_1.0.jpg') %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-6">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-6_image_20180310_1.0.jpg') %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-7">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-7_image_20180310_1.0.jpg') %>"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-8">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-8_image_20180310_1.0.jpeg') %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-9">
                            <div class="card mb-4">
                                <img class="card-img-top" src="<%= require('./assets/images/post-9_image_20180310_1.0.jpg') %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                        <!-- Blog Post -->
                        <article id="post-10">
                            <div class="card mb-4">
                                <img class="card-img-top" src="" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
                                        Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                                        voluptatibus possimus, veniam magni quis!</p>
                                    <a href="./single.html" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="./single.html" class="btn btn-outline-secondary">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta"></div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </section>
        
        <!-- Pagination section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Older</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%= require('html-loader!./includes/footer.html') %>