.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.nav-item {
    a {
        color: $navbar-link-color;
        &:hover {
          color: black !important;
          text-decoration: none;
          transition: all 0.25s;
        }

    }
  }