$navbar-link-color: #6C757D;
$navbar-link-hover-color: balck#252527;

$meta-link-color: #6C757D;
$meta-link-hover-color: #252527;
$meta-link-border-color: #ecd018;

$footer-link-color: #6C757D;
$footer-link-hover-color: #6C757D;

$buttons-color-yelow: #ffc107;
$buttons-border-color: #DFDFDF;